@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Righteous&display=swap');
body {
  overflow-x: hidden;
  font-family: 'Balsamiq Sans', cursive;
  background-color: #bedae5;
}
.nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2f3029;
  opacity: .9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: .7s;
}
.nav a{
  display: block;
  padding: 20px;
  font-size: 23px;
  text-decoration: none;
  color: #eecb27;
  font-family: 'Righteous', cursive;
}
.nav ul{
  list-style-type: none;
}
.nav ul a:hover{
  color: rgb(209, 202, 202);
  transition: .5s;
}
.nav .close{
  position: absolute;
  top: 0;
  right: 50px;
  margin-left: 60px;
  font-size: 30px;
}
.slide a{
  font-size: 35px;
  color: #eecb27;
}
#sidenav{
  padding: 11px;
  transition: .7s;
  width: 100%;
  overflow: hidden;
}
.navigation {
  background: url('/static/images/img3.jpg');
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.logo {
  color: #ffff;
  padding: 15px;
  font-family: 'Righteous', cursive;
}
.logo h1 {
  letter-spacing: 2px;
  font-size: 3rem;
} 
.logo h1 span {
  color: #eecb27;
}
.view-cascade {
  position: relative;
  box-shadow: -1px 2px 23px -4px rgba(0,0,0,0.75);
  transition: .5s;
}
.card-body-cascade {
  position: absolute;
  top: 80%;
  left: 10%;
  width: 80%;
  margin: auto;
  background: whitesmoke;
  box-shadow: -1px 2px 23px -4px rgba(0,0,0,0.75);
  color: #1f1762;
}
.mask {
  display: none;
}
.view-cascade:hover .mask {
  display: unset;
  transition: .3s ease-in-out;
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.5);
}
.col-md-8 {
  margin: auto;
}
.account-img {
  height: 150px;
  width: 150px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.account-img-profile {
  height: 50px;
  width: 50px;
}
.search {
  margin: 1rem;
}
div input {
  color: whitesmoke;
}
.card {
  margin: 1rem;
  color: #1f1762;
  box-shadow: -1px 2px 23px -4px rgba(0,0,0,0.75);
}
.card-body h4 {
  color: #e13329;
}

/* media query */
@media only screen and (max-width: 600px) {
  .logo h1 {
    letter-spacing: normal;
    font-size: 1.5rem;
  } 
  .search {
    margin: none;
  }
}