<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>ProAwards</title>

</head>

<body>
  <div class="navigation d-flex">
    <div id="sidenav">
      <span class="slide">
        <a href="#" onclick="openSlideMenu()"><i class="fas fa-bars"></i></a>
      </span>
      <div id="menu" class="nav">
        <a href="#" class="close" onclick="closeSlideMenu()"><i class="fas fa-times"></i></a>
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'profile' %}">Profile</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Register/Login</a></li>
          {% endif %}
          <li><a href="{% url 'homepage' %}">Home</a></li>
          <li><a href="{% url 'project-create' %}">Submit Project</a></li>
        </ul>
      </div>
    </div>
    <div class="search">
      <form action="{% url 'search-users' %}" method="GET">
        <div class="md-form my-1">
          {% csrf_token %}
          <input class="form-control mr-sm-2 text-white" type="text" name="q" placeholder="Search users...">
        </div>
      </form>
    </div>
    <div class="logo">
      <h1>Pro<span>Awards</span>.</h1>
    </div>
  </div>
</body>

</html>