{% extends 'projects/base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col mt-5">
      <!-- Card -->
      <div class="card card-cascade wider reverse">

        <!-- Card image -->
        <div class="view view-cascade overlay zoom">
          <img class="card-img-top" src="{{ project.project_image.url }}" class="img-fluid" style="height: 80vh;"
            alt="{{ project.title }}">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center mb-3">

          <!-- Title -->
          <h4 class="card-title"><strong>{{ project.title }}</strong></h4>
          <!-- Subtitle -->
          <h6 class="font-weight-bold indigo-text py-2">{{ project.project_owner }}</h6>
          <!-- Text -->
          <p class="card-text">{{ project.project_description }}</p>
          <p><small class="text-muted">{{ project.date_posted|date:"M d, Y" }}</small></p>


          <a href="{{ project.project_link }}" target="_blank" class="px-2 fa-lg fb-ic"><i class="fas fa-link"></i></a>

        </div>

      </div>
      <!-- Card -->
    </div>
  </div>
</div>
{% endblock %}