{% extends 'projects/base.html' %}

{% block content %}
<div class="container">
  <h2 class="text-center text-uppercase mt-3">Featured Projects</h2>
  <div class="row">
    {% for image in images %}
    <div class="col-md-6 mt-1 mb-5">
      <!-- Card -->
      <div class="card card-cascade wider reverse">

        <!-- Card image -->
        <div class="view view-cascade overlay zoom">
          <img class="card-img-top" src="{{ image.project_image.url }}" alt="{{ image.title }}">
          <div class="mask flex-center">
            <a href="{% url 'project-detail' image.id%}" class="btn peach-gradient">RATE</a>
          </div>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center mb-5">

          <!-- Title -->
          <h4 class="card-title"><a href="{% url 'project-detail' image.id%}"><strong>{{ image.title }}</strong></a>
          </h4>
          <small class="text-muted">By {{ image.project_owner }}</small>




        </div>

      </div>
      <!-- Card -->
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}