{% extends 'projects/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col mt-5">
      <!-- Card -->
      <div class="card card-cascade wider reverse">

        <!-- Card image -->
        <div class="view view-cascade overlay zoom">
          <img class="card-img-top" src="{{ project.project_image.url }}" class="img-fluid" style="height: 80vh;"
            alt="{{ project.title }}">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center mb-3">
          <a class="btn-floating btn-lg btn-default">{{ ratings.average_rating }}</a>

          <!-- Title -->
          <h4 class="card-title"><strong>{{ project.title }}</strong></h4>
          <!-- Subtitle -->
          <h6 class="font-weight-bold indigo-text py-2">{{ project.project_owner }}</h6>
          <!-- Text -->
          <p class="card-text">{{ project.project_description }}</p>
          <p><small class="text-muted">{{ project.date_posted|date:"M d, Y" }}</small></p>


          <a href="{{ project.project_link }}" target="_blank" type="button" class="px-2 fa-lg fb-ic text-danger"
            class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Go to project"><i
              class="fas fa-link"></i></a>

          <a class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">Rate</a>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Rate Project</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card-footer">
                    <form action="" method="post">
                      {% csrf_token %}
                      {{ form|crispy }}
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm">RATE</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
      <!-- Card -->
    </div>
  </div>
</div>
{% endblock %}