{% extends 'projects/base.html' %}

{% block content %}
<div class="container">
  <div class='search-list'>
    {% if object_list%}

    <div class='row justify-content-center'>
      <h1>Search Results for "<i>{{query}}"</i></h1>
      {% else %}
      <h1>No Search Results for<i> "{{query}}"</i></h1>
      {% endif %}
    </div>
  </div>

  {% if object_list %}
  <h2>Users</h2>
  {% for i in object_list %}
  <div class='row list-div' id='profile'>
    <a href="{% url 'profile' %}">
      <img class='rounded-circle account-img' src="{{ i.profile.profile_picture.url}}">
      <b class="text-dark">{{i}}</b>

    </a>
  </div>
  {% endfor %}
  {% endif %}
  {% endblock content %}